.item__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.item__container_input {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100px;
  gap: 7px;
}
.input__label {
  color: rgba(84, 95, 113, 1);
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: left;
}

.input__text {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 12px;
  gap: 12px;
  border-radius: 6px;
  border: 1px solid rgba(84, 95, 113, 1);
}
